<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">&#9776;</button>
    <a class="navbar-brand" ui-sref="app.main"></a>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto d-md-down-none">
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="d-md-down-none">English</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Hindi</a>
                <a class="dropdown-item" href="#">Telugu</a>


            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-calendar"></i><span class="badge badge-pill badge-danger">2</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
        </li>
        <li class="nav-item dropdown">
            <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        </li>
        <li class="nav-item">
            <!--<a class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a>-->
        </li>

    </ul>
</header>
